.Button {
    height: 30px;
    
    border-radius: 2px;
    font-weight: bold;
    color: #fff;

    &[disabled] {
        opacity: 0.5;
    }

    &_theme_default {
        border: 1px solid #fff;
        background-color: #255dd3;
    }
    &_theme_action {
        border: none;
        background-color: #f57c00;
    }
}
