.WalletPicker {
    color: #fff;

    &-Currency {
        font-weight: bold;
        font-size: 24px;
        line-height: 32px;
    }

    &-Balance, &-Rate {
        font-size: 13px;
    }

    &-Row {
        display: flex;
        justify-content: space-between;
        align-items: center;

        margin-bottom: 12px;
    }

    &-Input {
        height: 32px;
        font-size: 20px;
        background-color: transparent;
        color: #fff;
        text-align: right;
    }
}
